.videosection{
    z-index: 0;
    overflow: hidden;
    grid-template-columns: auto 100rem auto;
    position: relative;
}

video{
    display:block;object-fit:cover;width:100%;height:100%;
}
.videowrapper{ position: absolute;}
.ggt{
    position: relative;
    padding: 100px 0px;
}
.ggt h1{
    color: #fff;
    font-size: 50px;
    line-height: 70px;
}
.ggt a{
    background: #2a6db5;
    color: #fff;
    padding: 6px 25px;
    font-size: 24px;
    border-radius: 27px;
}
.font-20{
    font-size: 20px;
}
.listhight li{
    padding-left: 25px !important;
}
.listhight li::before{
    width: 15px !important;
    height: 15px !important;
}
.dbro{
    background: #2a6db5;
    color: #fff;
    padding: 6px 25px;
    font-size: 24px;
    border-radius: 27px;
    margin-top: 24px;
    overflow: hidden;
    display: inline-block;
}